checkpoint/
clothing/__init__.py
clothing/__init__.pyc
clothing/dataloader.pyc
data
models/.resnet_imagenet_ncm.py.swp
models/__init__.py
models/__init__.pyc
models/resnet_imagenet_ncm.pyc
utils_ncm.pyc
